@{
    ViewData["Title"] = "Index";
}
<head>
<Title>Sala de Escape</Title>
<link rel="stylesheet" href="css/site.css" />
</head>
<body>
<main class = "Index">
<h1>Escape Room</h1>
<h2>En este escape room vas a tener que resolver acertijos que te van a dar pistas y asi poder conocer el nombre del asesino de Cajaf y Juanse. Mucha suerte</h2>
 <a href='@Url.Action("empezarSala","Home")' class = "boton">Empezar Juego</a>

<section>
<div>
    
</div>
</section>
</main>
</body>
