@{
    ViewData["Title"] = "Index";
}
<head>
<Title>Sala de Escape</Title>
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
<main>
<h1>Escape Room</h1>
 <a href='@Url.Action("empezarSala","Home")'>Empezar Juego</a>

<section>
<div>
    
</div>
</section>
</main>
</body>
