
<form action='@Url.Action("siguentePista","Home")' method= "post">
<input type="hidden" name="Verif" value="LKAhfjagyeuiahb"/>

<main>
<button type="submit" class="comenzar">
  <h1>siguente sala<h1>
</button>
</form>
<section>
<div>
    
</div>
</section>
</main>
