
  <section class = "pista">
  <div>
  <h2>Encontraste otra pista al resolver el acertijo</h2>
 <h2>PISTA 2: E</h2>
  <a href='@Url.Action("siguienteSala","Home")'>Siguente sala</a>
 </div>
 </section>