

<form action='@Url.Action("siguentePista","Home")' method= "post">
<input type="hidden" name="Verif" value="GUHIgshjgJBHJ"/>

<main>
<img src="../Imagenes/cofre.png" alt="cofre" class = "cofre">
<button type="submit" class="comenzar">
  <img src="../Imagenes/saco.jpg" alt="Saco" class = "saco">
</button>

<section>
<div>
    
</div>
</section>
</main>
</form>

