

<form action='@Url.Action("siguentePista","Home")' method= "post">
<input type="hidden" name="Verif" value="GUHIgshjgJBHJ"/>

<main>
<button type="submit" class="comenzar">
  <img src="../Imagenes/saco.jpg" alt="Saco">
</button>
<section>
<div>
    
</div>
</section>
</main>
</form>

