<section class = "compu">
<div>
@for(int i = 0; i < ViewBag.verdes.Lenght;i++ )
{
    if(ViewBag.verdes)
    {
      <h1 class="verde">
          @Html.Raw(ViewBag.ultimaPalabra[i]);
      </h1>
    }
    else if(ViewBag.amarillas)
    {
      <h1 class="amarillo">
          @Html.Raw(ViewBag.ultimaPalabra[i]);
      </h1>
    }else
    {
      <h1>
        @Html.Raw(ViewBag.ultimaPalabra[i]);
      </h1>
    }
}
</div>
</section>
