<form action='@Url.Action("acertijo","Home")' method= "post">
<input type="hidden" name="Verif" value="hgkjaghjsbhkj"/>

<main>
<section class = "pista">
  <div>
<h2>Soy invisible pero dejó rastro,
 en cada cosa que tocas, yo paso.
 Un detective me quiere encontrar,
 con polvo y luz me puede atrapar.<h2>
<input type text name="palabra"/>
 <button type="submit" class="comenzar">
 Enviar respuesta
 </button>
</div>
</section>
</main>
</form>