@{
    ViewData["Title"] = "Fin";
}
<body class="pistaFinal">
  <div class="contenedorFinal">
    <img src="../Imagenes/checho.png" alt="Checho el asesino">
    <h1>Encontraste todas las pistas,<br> el nombre del asesino era <span class="asesino">Checho</span>. <br>¡Felicidades!</h1>
    <a href='@Url.Action("Index","Home")' class="comenzar">Reiniciar juego</a>
  </div>
</body>
