<form action='@Url.Action("siguentePista","Home")' method= "post">
<input type="hidden" name="Verif" value="auigikjaghjsbhkj"/>

<main>
<button type="submit" class="comenzar">
  siguente sala
</button>
<section>
<div>
    
</div>
</section>
</main>
</form>