@{
    ViewData["Title"] = "Index";
}
<head>
<form action='@Url.Action("siguienteSala","Home")' method= "post">
<input type="hidden" name="Verif" value="auigikjaghjsbhkj"/>
</form>
</head>
<main>

 <a href='@Url.Action("siguentePista","Home")'><img src="../Imagenes/pared.jpg" alt="pared"></a>
<section>

<div>
    
</div>
</section>
</main>
