html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.verde{
color: green;
}
.amarillo{
color: yellow;
}
.abajo{
  clear: both;
  margin-left: 35%;
}
.comenzar {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.comenzar img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; 
  margin: 0;
}

.pista{
background-color: antiquewhite;
margin-left: 10%;
margin-right: 10%;

}

.compu{
border: 8px solid grey;
border-radius: 20px;
background-color: blue;
clear: both;
padding-bottom: 20%;
margin-left: 1%;
margin-top: 2%;
width: 97.5%;
}

.compu h1{
  font-size: 400%;
  text-align: center;text-align: center;

}
.compu div h1{
  float: left;
  background-color: white;
  margin-left: 10%;
  width: 4%;
  
  border: 1px black solid;
}


.uv {
  margin: 0;
  height: 100vh;
  background-color: #111; /* fondo oscuro */
  overflow: hidden;
  cursor: none; /* opcional, oculta el cursor */
}

#uv-light {
  position: fixed;
  pointer-events: none; /* que no interfiera con clicks */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(138,43,226,0.8) 0%, rgba(138,43,226,0) 70%);
  mix-blend-mode: screen; /* para mezcla de color */
  filter: drop-shadow(0 0 10px rgba(138,43,226,0.8));
  transform: translate(-50%, -50%);
  transition: background 0.2s ease;
}

.zona-cliqueable {
  position: absolute;
  top: 65%;  /* ajustá según el punto superior de la pantalla en la imagen */
  left: 50%; /* ajustá según el borde izquierdo de la pantalla */
  width: 20%; /* ancho de la "pantalla" del portátil */
  height: 30%; /* alto de la pantalla */
  transform: translate(-50%, -50%); /* centra en ese punto */
  opacity: 0; /* completamente invisible */
  cursor: pointer;
  z-index: 10;
}

.saco{
  width: 50%;
  margin-left: 210%;
  margin-top: 110%;
}

.cofre{
  width: 20%;
}
