html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.comenzar {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.comenzar img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; 
  margin: 0;
}

.pista{
background-color: antiquewhite;
margin-left: 10%;
margin-right: 10%;

}

.compu{
border: 8px solid grey;
border-radius: 20px;
background-color: blue;
clear: both;
padding-bottom: 20%;
margin-left: 1%;
margin-top: 2%;
width: 97.5%;
}

.compu h1{
  font-size: 400%;
  text-align: center;text-align: center;

}
.compu div h1{
  float: left;
  background-color: white;
  margin-left: 10%;
  width: 4%;
  
  border: 1px black solid;
}

